.CompaineeMain{
    background-image: url('../../static//images/Bcompaines.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 19rem;
    position: fixed;
    margin-top: 7rem;
top: 0;
width: 100%;
z-index: 1;
.submain{
background-color: white; 
position: absolute;
bottom: -50px;
padding-left: 6.2%;
padding-right: 6.2%;
width: 100%;
height: 8rem;
    .sub
    {
        position: absolute;
        top: -50px;
        width: 87.6%;
        display: flex;
        justify-content: space-between;

        .div1{
            height: 7rem;
width: 12rem;
background-color: white;
border:0.5px solid #E5E5E5;
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
h4{
    font-size: 34px;
    font-weight: 700;
    font-family: Montserrat;
    margin:0;
}

p{
    font-size: 13px;
    font-weight: 500;
    font-family: Montserrat;
    margin:0;
}
        }
        .div2{
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            width: 23rem;
            height: 7rem;
            border:0.5px solid #E5E5E5;
            img{
                object-fit: contain;
                width: 15rem;
            }
        }
    }

}
}




.componycard{
    display: flex;
    justify-content: space-between;
 flex-wrap: wrap;
    gap: 1.3%;
    margin-top: 3rem;
    margin-top: 30rem;
    padding-left: 6.2%;
padding-right: 6.2%;

&::-webkit-scrollbar{
    display: none;
}
.substory{
    border: 0.5px solid #EBEBEB;
    height: 410px;

 

    margin-top: 4rem;
   flex:0 0 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .animationdiv{
    
                
        animation: glow-dim 1s infinite;
        background-color: #d9d9d9;
    height: 3rem;
    width: 80%;
  
    
}
  
@keyframes glow-dim{
    0%{opacity: 1;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}

}
    img{
        width: 16rem;
        height: 3.5rem;
        object-fit: contain;
    }

    label{
        font-family: Montserrat;
       
        width: 12rem;
height: 54.75px;

justify-content: center;
align-items: center;
background: #FFCA05;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 13px;
display: flex;
align-items: center;
text-align: center;
margin: 0;
color: #FFFFFF;
cursor: pointer;
position: relative;
display: inline-block;
 box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
 7px 7px 20px 0px rgba(0,0,0,.1),
 4px 4px 5px 0px rgba(0,0,0,.1);
outline: none;
// &:hover{
//     transform: scale(1.03);
// }
    }



  
        .btnTalk {
          cursor: pointer;
       
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
         
          overflow: hidden;
          border: 1px solid;
          transition: all 400ms ease;
          * {
            transition: all 400ms ease;
          }
          img,
          svg {
            height: 40%;
            width: auto;
            margin-right: 6px;
          }
          svg {
            margin: 0 5px;
          }
          &::before {
            content: "";
            background-color: white;
            width: 100%;
            height: 60px;
            position: absolute;
            left: -100%;
            transform: rotateZ(45deg);
          }
          &:hover {
            &::before {
              transition: all 0.4s ease;
              left: 100%;
            }
          }
        }

    
    .custom-btn {
        width: 130px;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
         box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
         7px 7px 20px 0px rgba(0,0,0,.1),
         4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
    }
      .btn-16 {
        border: none;
        color: #000;
      }
      .btn-16:after {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        direction: rtl;
        z-index: -1;
        box-shadow:
         -7px -7px 20px 0px #fff,
         -4px -4px 5px 0px #fff,
         7px 7px 20px 0px #0002,
         4px 4px 5px 0px #0001;
        transition: all 0.3s ease;
      }
      .btn-16:hover {
        color: #000;
      }
      .btn-16:hover:after {
        left: auto;
        right: 0;
        width: 100%;
      }
      .btn-16:active {
        top: 2px;
      }
    
   
      
    p{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        height: 5rem;

        width: 16rem;

        display: flex;
        align-items: center;
        text-align: center;
        color: #182443;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis
    }
}

}










.componycard{
    display: flex;
    justify-content: space-between;
 flex-wrap: wrap;
    gap: 1.3%;
    margin-top: 3rem;
    margin-top: 30rem;
    padding-left: 6.2%;
padding-right: 6.2%;
.plp{
    flex:0 0 24%;
    
    .substory{
        margin-top: 4rem;
       
    height: 410px;
    padding: 3%;
    border: 0.5px solid #EBEBEB;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

.animationdiv{
    
                
        animation: glow-dim 1s infinite;
        background-color: #d9d9d9;
    height: 3rem;
    width: 80%;
  
    
}
  
@keyframes glow-dim{
    0%{opacity: 1;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}

}
    img{
        width: 16rem;
        height: 3.5rem;
        object-fit: contain;
    }

    label{
        font-family: Montserrat;
        width: 136px;
height: 54.75px;
left: 180px;

width: 12rem;
top: 565.37px;
justify-content: center;
align-items: center;
background: #FFCA05;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 13px;
display: flex;
align-items: center;
text-align: center;
margin: 0;
color: #FFFFFF;
cursor: pointer;
&:hover{
    transform: scale(1.03);
}
    }
  .btnTalk {
          cursor: pointer;
       
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
         
          overflow: hidden;
          border: 1px solid;
          transition: all 400ms ease;
          * {
            transition: all 400ms ease;
          }
          img,
          svg {
            height: 40%;
            width: auto;
            margin-right: 6px;
          }
          svg {
            margin: 0 5px;
          }
          &::before {
            content: "";
            background-color: white;
            width: 100%;
            height: 60px;
            position: absolute;
            left: -100%;
            transform: rotateZ(45deg);
          }
          &:hover {
            &::before {
              transition: all 0.4s ease;
              left: 100%;
            }
          }
        }

    p{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        height: 5rem;

        width: 16rem;

        display: flex;
        align-items: center;
        text-align: center;
        color: #182443;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis
    }
}
}
}
