.GoogleMap{
    height:calc(100vh - 0rem);
    overflow: hidden;
    max-width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
}

svg {
    display: inline-block;
    vertical-align: middle;
  }
  